* {
    box-sizing: border-box;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #e8e8e8;
    font-family: "Montserrat", sans-serif;
  }
  .content-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    padding: 1rem;
    line-height: 1.5;
  }
  .container {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  /* HEADER */
  .header {
    color: white;
    background: linear-gradient(#4b0082, #820078);
    text-align: center;
    padding: 2rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  
  /* LIST AREA */
  .list-area {
    margin: 2rem;
  }
  .input-area {
    margin: 2rem 0;
  }
  #new-wish-input {
    font-size: 1rem;
    padding: 10px 16px;
    border: none;
    background: #f4e4ff;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .btn {
    display: inline-block;
    font-size: 0.8rem;
    width: fit-content;
    border: none;
    border-radius: 5px;
    color: #f1f1f1;
    background: #820078;
    padding: 8px 16px;
    cursor: pointer;
  }
  .btn:hover {
    background: #4b0082;
    color: #fff;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  .task-item {
    flex: 1;
  }
  .check-box {
    margin-right: 8px;
    accent-color: #820078;
  }
  .delete-button {
    cursor: pointer;
    margin-left: auto;
    background: #820078;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
    padding: 0.1rem 0.3rem;
    border-radius: 2px;
  }
  